body{
	background: url(1.jpg) center;
}

header{
	background: white;
	height: 100px;
	width: 910px;
	margin: 0 auto;
	opacity: 0.7;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 35px;
	text-align: center;
}

#main{
	background: white;
	height: 400px;
	width: 910px;
	margin: 20px auto;
	opacity: 0.7;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 35px;
}

.box{
	clear:both;
	text-align:right;
	width: 280px;
	height: 30px;
}

.control{
	float:left;
}

.result{
	clear:both;
}

input{
	text-align: center;
	width: 80px;
}

#code{
	width: 280px;
	height: 210px;
}

.box2{
	margin-left: 20px;
}

.gen{
	text-align: center;
	margin-top: 0px;
}